@use "./variables.scss" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin button {
  background-color: $vividPurple;
  color: $white;

  &:hover {
    background-color: $softLavander;
  }
}
