@use "./variables.scss" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin button {
  border: 0.3px solid $vividPurple;
  border-radius: 8px;
  color: $darkPurple;
  font-weight: 600;
  padding: 0.75rem 1.2rem;
  color: $white;

  &:hover {
    background-color: $vividPurple;
  }
}

@mixin link {
  color: $white;

  &:hover {
    color: $softLavander;
  }
}

@mixin h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
