//Font
$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontFamily: "Lato", sans-serif;

//Colours
$darkPurple: #1a1a2e; //Background
$multedDarkLavander: #4e4e89; //Accent
$vividPurple: #6a67ce; //Highlight
$softLavander: #a29bfe; //Call-to-Action
$white: #fff; //Text
$lightLavander: #b8b8d1; //Secondary Text
