@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.stack-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.3px solid $vividPurple;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
