@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
  &__links {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;

    @include tablet {
      display: flex;
    }
  }

  &__link {
    color: $white;
    transition: all 0.2s;

    @include hover {
      &:hover {
        color: $softLavander;
      }
    }

    &--active {
      color: $vividPurple;
    }
  }
}
