@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-page {
  &__container {
    width: 90%;
    margin: 1rem auto;

    @include tablet {
      width: 75%;
    }

    > * {
      margin-top: 8rem;
    }
  }
}
